.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  form {
    width: 100%;
    display: flex;
    justify-content: center;

    input {
      width: 50%;
      padding: 0.5rem;
      border: 0;
      outline: none;
    }
    button {
      border: 0;
      padding: 0.5rem;
      background-color: #e4a61a;
      color: white;
    }
  }
  .loader {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-top: 3px solid black;
    animation: loading 0.7s infinite;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-list {
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem;
  .card {
    position: relative;
    width: 250px;
    min-height: 270px;
    max-height: 320px;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1.5px 5px rgba(148, 148, 148, 0.084);
    padding: 0.5rem;

    .wrapper-image {
      width: 100%;
      background-color: #f7f7f7;
      height: 140px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    main {
      span {
        font-size: 0.875rem;
        background-color: #f7f7f7;
        border-radius: 5px;
        padding: 0px 1rem;
        color: black;
        margin-bottom: 5px;
      }
      margin: 0.5rem 0;
      font-size: 0.875rem;
      color: #adadad;
      text-align: justify;
      p {
        padding: 0 1rem;
        max-height: 50px;
        overflow-y: auto;
      }
    }

    a {
      position: absolute;
      bottom: 8px;
      right: 8px;
      left: 8px;

      padding: 5px;
      text-align: center;
      background-color: #e4a61a;
      color: #fff;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #fcaf00;
      }
    }
  }
}
