<div class="cart-wrapper">
  <main>
    <section>
      <article>
        <h1>Meu carrinho</h1>
        <p>Listagem de itens escolhidos</p>
      </article>
      <article>
        <ul>
          <li>
            <div>Nome Nome Nome Nome Nome Nome</div>
            <div>2x</div>
            <div>R$ 23,45</div>
          </li>
          <li>
            <div>Nome Nome Nome Nome Nome Nome</div>
            <div>2x</div>
            <div>R$ 23,45</div>
          </li>
        </ul>
      </article>
    </section>
  </main>
  <aside>
    <h1>Resumo</h1>
    <div>
      <p>Qte de produtos:</p>
      <p>Total:</p>
      <p>Total com desconto:</p>
    </div>
    <button>Finalizar compra</button>
  </aside>
</div>
